WiFi_Log.log
requirements.txt
ClientSide/__pycache__/AppClient.cpython-39.pyc
ClientSide/__pycache__/libclient.cpython-39.pyc
ClientSide/GetPosition/APs.json
ClientSide/GetPosition/__pycache__/GetAPInfo.cpython-39.pyc
ClientSide/GetPosition/__pycache__/GetDistance.cpython-39.pyc
ClientSide/GetPosition/__pycache__/trilateration.cpython-39.pyc
ServerSide/ClientMsgs.log
ServerSide/__pycache__/AppClient.cpython-39.pyc
ServerSide/__pycache__/libclient.cpython-39.pyc
ServerSide/__pycache__/libserver.cpython-39.pyc
wheelhouse/autopep8-1.5.7-py2.py3-none-any.whl
wheelhouse/comtypes-1.1.10.tar.gz
wheelhouse/numpy-1.21.2-cp39-cp39-win_amd64.whl
wheelhouse/pycodestyle-2.8.0-py2.py3-none-any.whl
wheelhouse/rssi-1.0.2.tar.gz
wheelhouse/scipy-1.7.1-cp39-cp39-win_amd64.whl
wheelhouse/toml-0.10.2-py2.py3-none-any.whl
wheelhouse/win32wifi-0.1.0.zip
wheelhouse/xmltodict-0.12.0-py2.py3-none-any.whl
Docs/Layout T8.jpg
Docs/Layout T9 0m.jpg
Docs/Layout T9 6m.jpg
Docs/Layout T10 0m.jpg
Docs/Layout T10 5m.jpg
Docs/Layout T11 0m.jpg
ServerSide/EchoClient.py
ServerSide/EchoServer.py
ServerSide/MulticonnClient.py
ServerSide/MulticonnServer.py
.vscode/launch.json
ClientSide/config.json
ClientSide/GetPosition/ClientMsgs.log
Docs/APListMRT.json
Docs/Base Radio Mac List.csv
Docs/Base Radio Mac List.xlsx
Docs/csvtojson.py
Docs/Taller8_Cota0.csv
Docs/Taller9_Cota0.csv
Docs/Taller9_Cota6.csv
Docs/Taller10_Cota0.csv
Docs/Taller10_Cota5.csv
Docs/Taller11_ACA-DKA_PA.csv
Docs/Taller11_ACA-DKA_PB.csv
Docs/Taller11_Cota0.csv
req-pyinstaller.txt
.gitignore
ClientSide/RunTrack.spec
ClientSide/__pycache__/AppClient.cpython-38.pyc
ClientSide/__pycache__/libclient.cpython-38.pyc
ClientSide/__pycache__/RunTrack.cpython-38.pyc
ClientSide/__pycache__/RunTrack.cpython-39.pyc
Release/Client/RunTrack/config.json
ServerSide/APListMRT.json
ServerSide/GetPosition/APs.json
ServerSide/GetPosition/ClientMsgs.log
ServerSide/GetPosition/__pycache__/GetAPInfo.cpython-39.pyc
ServerSide/GetPosition/__pycache__/GetDistance.cpython-39.pyc
ServerSide/GetPosition/__pycache__/trilateration.cpython-39.pyc
ClientMsgs.log
DUMMY.log
ServerSide/AppServer.py
ServerSide/CpBuilder_ESSEATMAW01598.log
ServerSide/logs/CpBuilder_ESSEATMAW01598.log
ClientSide/python.spec
ClientSide/build/python/base_library.zip
ClientSide/build/python/python.exe.manifest
ClientSide/build/RunTrack/Analysis-00.toc
ClientSide/build/RunTrack/base_library.zip
ClientSide/build/RunTrack/EXE-00.toc
ClientSide/build/RunTrack/PKG-00.toc
ClientSide/build/RunTrack/PYZ-00.pyz
ClientSide/build/RunTrack/PYZ-00.toc
ClientSide/build/RunTrack/RunTrack.exe.manifest
ClientSide/build/RunTrack/RunTrack.pkg
ClientSide/build/RunTrack/Tree-00.toc
ClientSide/build/RunTrack/Tree-01.toc
ClientSide/build/RunTrack/Tree-02.toc
ClientSide/build/RunTrack/warn-RunTrack.txt
ClientSide/build/RunTrack/xref-RunTrack.html
ServerSide/WatchLogs.py
ServerSide/__pycache__/GetAPInfo.cpython-39.pyc
ServerSide/obsolete/EchoClient.py
ServerSide/obsolete/EchoServer.py
ServerSide/obsolete/MulticonnClient.py
ServerSide/obsolete/MulticonnServer.py
wheelhouse/cycler-0.11.0-py3-none-any.whl
wheelhouse/fonttools-4.28.2-py3-none-any.whl
wheelhouse/kiwisolver-1.3.2-cp39-cp39-win_amd64.whl
wheelhouse/matplotlib-3.5.0-cp39-cp39-win_amd64.whl
wheelhouse/numpy-1.21.4-cp39-cp39-win_amd64.whl
wheelhouse/packaging-21.3-py3-none-any.whl
wheelhouse/Pillow-8.4.0-cp39-cp39-win_amd64.whl
wheelhouse/pyparsing-3.0.6-py3-none-any.whl
wheelhouse/python_dateutil-2.8.2-py2.py3-none-any.whl
wheelhouse/setuptools_scm-6.3.2-py3-none-any.whl
wheelhouse/setuptools-59.2.0-py3-none-any.whl
wheelhouse/six-1.16.0-py2.py3-none-any.whl
wheelhouse/tomli-1.2.2-py3-none-any.whl
wheelhouse/watchdog-2.1.6-py3-none-win_amd64.whl
wheelhouse/setuptools-59.4.0-py3-none-any.whl
wheelhouse/pywin32_ctypes-0.2.0-py2.py3-none-any.whl
wheelhouse/pyinstaller-4.7-py3-none-win_amd64.whl
wheelhouse/pyinstaller_hooks_contrib-2021.3-py2.py3-none-any.whl
wheelhouse/pefile-2021.9.3.tar.gz
wheelhouse/future-0.18.2.tar.gz
wheelhouse/altgraph-0.17.2-py2.py3-none-any.whl
ServerSide/logs/10.202.44.78.log
ServerSide/positions.json
ClientSide/Launch RunTrack.xml
